[user]
	email = barvind.dev@outlook.com
    name = Arvind Badri
    signingkey = 437A175A9496DAFB

[core]
    editor = /usr/bin/nvim

[gpg]
    program = gpg

[commit]
    gpgsign = false

[tag]
    gpgsign = true

[pull]
    rebase = true
