* {
	border: none;
	border-radius: 0px;
	font-family: "FiraCode Nerd Font";
	font-weight: normal;
	font-size: 13px;
	min-height: 0;
	transition: 0.3s;
    margin: 0px 5px;
    background: transparent;
}

window#waybar {
    background: transparent;
	color: #ffffff;
	border-radius: 12px;
    padding: 8px;
}

tooltip {
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.15);
	transition: 0.3s;
}

#workspaces button {
	background: transparent;
    padding: 0px;
}

#workspaces button.active {
	color: #ffffff;
}

#workspaces button.focused {
	color: #ffffff;
}

#workspaces button.urgent {
	color: #11111b;
}

#workspaces button:hover {
	color: #ffffff;
}

#workspaces {
	border: 1px solid rgba(255,255,255,0.15);
	opacity: 0.9;
	margin: 0;
	margin-top: 5px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#tray,
#disk,
#memory,
#cpu,
#backlight {
	border: 1px solid rgba(255,255,255,0.15);
	opacity: 0.9;
	padding: 0px 10px;
	margin: 0;
	margin-top: 5px;
}

#temperature.critical {
	color: #eba0ac;
}

#backlight {
	border-radius: 0px 0px 0px 0px;
	padding-left: 7px;
    /* color: #fab989; */
}

#tray {
	border-radius: 20px;
	margin-right: 5px;
	padding: 0px 4px;
}

#workspaces {
	border-radius: 0px 20px 0px 0px;
	margin-left: 0px;
}

#custom-power_profile {
	color: #a6e3a1;
	border-left: 0px;
	border-right: 0px;
}

#window {
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

#clock {
	color: #ffffff;
	border-radius: 20px 0px 20px 0px;
	margin-left: 5px;
	border-right: 0px;
	transition: 0.3s;
	padding-left: 7px;
}

#network {
	color: #f9e2af;
	border-radius: 20px 0px 0px 20px;
	border-left: 0px;
	border-right: 0px;
}

#bluetooth {
	color: #89b4fa;
	border-radius: 20px;
	margin-right: 10px;
}

#pulseaudio.microphone {
	/* color: #cba6f7; */
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px 20px 20px 0px;
	margin-right: 5px;
	padding-right: 8px;
}

#memory {
    /* color: #fab989; */
    border-radius: 0px;
}

#battery {
	/* color: #a6e3a1; */
	margin-right: 0px;
	border-left: 0px;
}

#cpu {
	border-radius: 0px 0px 0px 0px;
	margin-right: 0px;
	border-left: 0px;
}

#custom-weather {
    /* color: #d0b1da; */
    border-radius: 0px 0px 0px 20px;
}

#pulseaudio {
    /* color: #89b4fa; */
    border-radius: 0px 20px 0px 0px;
}

#disk {
    /* color: #89b4fa; */
    margin-left: 10px;
    border-radius: 0px 0px 0px 20px;
}

#custom-logo {
    padding-top: 5px;
    font-size: 15px;
    color: #ffffff;
}
