@import '../../.cache/wal/colors-waybar.css';

@define-color text            @foreground;
@define-color background-alt  alpha(@color1, .4);
@define-color selected        @color6;
@define-color hover           alpha(@selected, .4);
@define-color urgent          @color2;
@define-color border          rgba(255, 255, 255, .15);

* {
	border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font";
	font-weight: normal;
	font-size: 0.9rem;
	min-height: 0;
	transition: 0.3s;
    margin: 0 0.17em; /* 5px */
    background: transparent;
}

window#waybar {
	color: @text;
    padding: 0.5em; /* 8px */
    background: rgba(0, 0, 0, .2);
}

tooltip {
	border-radius: 0.625em; /* 10px */
	border: 0.0625em solid @border; /* 1px */
	transition: 0.3s;
}

#custom-power_profile,
#custom-weather,
#custom-swaync,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#tray,
#disk,
#memory,
#cpu,
#workspaces,
#backlight {
    color: @text;
	opacity: 0.9;
	padding: 0 0.625em; /* 10px */
}

#workspaces button {
	background: transparent;
    padding: 0;
}

#workspaces button.active {
	color: @text;
}

#workspaces button.focused {
	color: @text;
}

#workspaces button.urgent {
	color: @urgent;
}

#workspaces button:hover {
	color: @hover;
}

#workspaces {
	opacity: 0.9;
	margin: 0;
}

#temperature.critical {
	color: @urgent;
}

#backlight {
	border-radius: 0;
	padding-left: 0.4375em; /* 7px */
}

#tray {
	border-radius: 1.25em; /* 20px */
	margin-right: 0.3125em; /* 5px */
	padding: 0 0.25em; /* 4px */
}

#workspaces {
	border-radius: 0 0 1.25em 0; /* 20px */
}

#window {
	border-radius: 1.25em; /* 20px */
	margin-left: 0.3125em; /* 5px */
	margin-right: 0.3125em; /* 5px */
}

#clock {
	margin-left: 0.3125em; /* 5px */
	border-right: 0;
	transition: 0.3s;
	padding-left: 0.4375em; /* 7px */
}

#memory {
    border-radius: 0;
}

#battery {
	margin-right: 0;
	border-left: 0;
}

#hyprland-workspace,
#cpu {
	margin-right: 0;
	border-left: 0;
}

#network {
    padding: 0 .8em;
}

#custom-swaync {
    margin-right: 0.3125em; /* 5px */
}


