@import '../../.cache/wal/colors-waybar.css';

@define-color bg              rgba(255, 255, 255, .14);
@define-color text            rgba(255, 255, 255, 1);
@define-color background-alt  alpha(@color1, .4);
@define-color selected        @color6;
@define-color hover           alpha(@selected, .4);
@define-color urgent          @color2;
@define-color border          rgba(255, 255, 255, .28);

* {
	border: none;
	border-radius: 0;
	font-family: "Monolisa";
	font-weight: normal;
	font-size: 1rem;
	min-height: 0;
	transition: 0.3s;
    margin: 0 0.12em; /* 5px */
    background: transparent;
}

window#waybar {
	color: @text;
    padding: 0.5em;
}

tooltip {
	border-radius: 0.625em; /* 10px */
	border: 0.0625em solid @border; /* 1px */
	transition: 0.3s;
}

#custom-power_profile,
#custom-weather,
#custom-swaync,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#tray,
#disk,
#memory,
#cpu,
#workspaces,
#backlight {
    color: @text;
	opacity: 0.9;
	padding: 0 0.625em;
    background: @bg;
}

#temperature.critical {
	color: @urgent;
}

#backlight {
	border-radius: 0;
}

#tray {
	border-radius: 1.25em; /* 20px */
	margin-right: 0.3125em; /* 5px */
}

#workspaces {
	border-radius: 0 1em 1em 0; /* 20px */
}

#window {
	border-radius: 1.25em; /* 20px */
	margin-left: 0.3125em; /* 5px */
	margin-right: 0.3125em; /* 5px */
}

#clock {
	margin-left: 0.3125em; /* 5px */
	border-radius: 1em;
	transition: 0.3s;
    background: @bg;
}

#memory {
    border-radius: 0;
}

#battery {
	border-left: 0;
}

#hyprland-workspace,
#cpu {
    border: 0em;
}

#network {
}

#custom-swaync {
    border-radius: 1em 0 0 1em;
    padding: 0 1em;
}


