* {
	border: none;
	border-radius: 0px;
	font-family: "FiraCode Nerd Font Mono";
	font-weight: bold;
	font-size: 11px;
	min-height: 0;
	transition: 0.3s;
}

window#waybar {
	background: rgba(0, 0, 0, 0.85);
	color: #cdd6f4;
	border-radius: 12px;
}

tooltip {
	background: rgba(30,30,46,0.6);
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.15);
	transition: 0.3s;
}

#workspaces button {
	padding: 5px;
	color: #cdd6f4;
	margin-right: 5px;
	background: transparent;
	border-radius: 12px;
}

#workspaces button.active {
	color: #ffffff;
	background: rgba(235,160,172,0.25);
	border-radius: 20px;
}

#workspaces button.focused {
	color: #ffffff;
	background: rgba(235,160,172,0.35);
	border-radius: 20px;
}

#workspaces button.urgent {
	color: #11111b;
	background: rgba(166,227,161,0.8);
	border-radius: 20px;
}

#workspaces button:hover {
	background: rgba(255,255,255,0.1);
	color: #ffffff;
	border-radius: 20px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#disk,
#memory,
#cpu,
#backlight {
	background: rgba(33,33,36,0.35);
	border: 1px solid rgba(255,255,255,0.15);
	border-radius: 12px;
	opacity: 0.9;
	padding: 0px 10px;
	margin: 0;
	margin-top: 5px;
}

#disk,
#temperature {
	border-radius: 20px 0px 0px 20px;
}

#temperature.critical {
	color: #eba0ac;
}

#backlight {
	border-radius: 20px 0px 0px 20px;
	padding-left: 7px;
}

#tray {
	border-radius: 20px;
	margin-right: 5px;
	padding: 0px 4px;
}

#workspaces {
	background: rgba(30,30,46,0.4);
	border-radius: 20px;
	margin-left: 5px;
	padding-right: 0px;
	padding-left: 5px;
}

#custom-power_profile {
	color: #a6e3a1;
	border-left: 0px;
	border-right: 0px;
}

#window {
	border-radius: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

#clock {
	color: #d3d3d3;
	border-radius: 20px;
	margin-left: 5px;
	border-right: 0px;
	transition: 0.3s;
	padding-left: 7px;
	background: rgba(33,33,36,0.35);
}

#network {
	color: #f9e2af;
	border-radius: 20px 0px 0px 20px;
	border-left: 0px;
	border-right: 0px;
}

#bluetooth {
	color: #89b4fa;
	border-radius: 20px;
	margin-right: 10px;
}

#pulseaudio {
	color: #89b4fa;
	border-left: 0px;
	border-right: 0px;
}

#pulseaudio.microphone {
	color: #cba6f7;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px 20px 20px 0px;
	margin-right: 5px;
	padding-right: 8px;
}

#memory,
#pulseaudio {
    border-radius: 0;
}

#cpu,
#battery {
	color: #a6e3a1;
	border-radius: 0 20px 20px 0;
	margin-right: 5px;
	border-left: 0px;
}

#custom-weather {
	border-radius: 20px;
	border-right: 0px;
	margin-left: 0px;
}

