configuration {
    modi:                       "drun,filebrowser,window,run";
    font:                       "Monolisa 11";
    show-icons:                 false;

    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";

    drun-display-format:        "{name}";
    hover-select:               false;
    scroll-method:              1;

    me-select-entry:            "";
    me-accept-entry:            "";

    window-format:              "{w} · {c} · {t}";
    auto-select:                false;
}

@import "default.rasi"

/* ===== WINDOW ===== */
window {
    height:                     36em;
    width:                      25em;

    padding:                    0.8em;
    spacing:                    0;

    border:                     0;
    border-radius:              1.2em;

    location:                   center;
    anchor:                     center;
}

/* ===== MAIN LAYOUT ===== */
mainbox {
    spacing:                    0.4em;
    background-color:           transparent;
}

/* ===== INPUT BAR ===== */
inputbar {
    padding:                    0.6em 0.8em;
    spacing:                    0.4em;

    background-color:           transparent;
    text-color:                 @text;

    children:                   [ prompt, textbox-prompt-colon, entry ];
}

textbox-prompt-colon {
    expand:                     false;
    str:                        "";
    margin:                     0 0.4em 0 0;

    background-color:           transparent;
    text-color:                 @text;
}

entry {
    padding:                    0.2em 0;

    cursor:                     text;
    placeholder:                "Type to filter";
    placeholder-color:          @placeholder-color;

    background-color:           transparent;
    text-color:                 @text;
}

/* ===== LIST ===== */
listbox {
    orientation:                horizontal;
    children:                   [ "listview" ];
    background-color:           transparent;
}

listview {
    padding:                    0.6em 0.8em;
    spacing:                    0.3em;

    columns:                    1;
    lines:                      10;

    cycle:                      true;
    dynamic:                    true;

    layout:                     vertical;
    fixed-height:               true;
    fixed-columns:              true;

    scrollbar:                  false;
    cursor:                     default;

    background-color:           transparent;
}

/* ===== ELEMENTS ===== */
element {
    padding:                    0.5em 0.8em;
    spacing:                    0.5em;

    cursor:                     pointer;

    background-color:           transparent;
    text-color:                 @text;

    border-radius:              0.6em;
}

/* normal rows */
element normal.normal,
element alternate.normal {
    background-color:           transparent;
    text-color:                 @text;
}

/* hover */
element normal.active,
element alternate.active {
    background-color:           @accent-soft;
    text-color:                 @accent;
}

/* selected */
element selected.normal {
    background-color:           @accent;
    text-color:                 @text-selected;

    border-radius:              1.2em;
}

element-icon {
    size:                       1em;
    margin:                     0 0.4em 0 0;
    enabled:                    false;
    background-color:           transparent;
    text-color:                 inherit;
}

element-text {
    padding:                    0;

    vertical-align:             0.5;
    horizontal-align:           0.0;

    background-color:           transparent;
    text-color:                 inherit;
}

/* ===== MESSAGES ===== */
message {
    padding:                    0.4em 0.8em;
}

error-message {
    padding:                    0.4em 0.8em;
    background-color:           transparent;
    text-transform:             capitalize;

    children:                   [ "textbox" ];
}

/* ===== TEXTBOX ===== */
textbox {
    text-color:                 @text;
    background-color:           transparent;

    vertical-align:             0.5;
    horizontal-align:           0.5;
}
