configuration {
    modi:                       "drun,filebrowser,window,run";
    font:                       "Monolisa 10";
    show-icons:                 false;
    display-drun:               " ";
    display-run:                " ";
    display-filebrowser:        "";
    display-window:             "";
    drun-display-format:        "{name}";
    hover-select:               false;
    scroll-method:              1;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
    window-format:              "{w} · {c} · {t}";
    auto-select:                false;
}

@import "default.rasi"

window {
    height:                     36em;
    width:                      44em;
    fullscreen:                 false;
    enabled:                    true;
    cursor:                     "default";
    spacing:                    0em;
    padding:                    1em;
    location:                   center;
    anchor:                     center;
    border:                     0em;
    border-radius:              1.2em;
}

inputbar {
    enabled:                    true;
    background-color:           transparent;
    text-color:                 @text;
    children:                   [ "textbox-prompt-colon", "entry" ];
    border-radius:              1.2em;
    padding:                    0.35em 0.7em;
}

textbox-prompt-colon {
    enabled:                    true;
    expand:                     false;
    str:                        "";
    padding:                    0.7em 0 0.7em 0;
    text-color:                 @text;
    background-color:           transparent;
}

entry {
    enabled:                    true;
    padding:                    0.7em 0 0.7em 0;
    cursor:                     text;
    placeholder:                "Type to filter";
    background-color:           transparent;
    placeholder-color:          var(placeholder-color);
    text-color:                 @text;
}

listbox {
    orientation:                horizontal;
    children:                   [ "listview" ];
    background-color:           transparent;
}

listview {
    padding:                    0.45em;
    enabled:                    true;
    columns:                    1;
    lines:                      10;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    reverse:                    false;
    fixed-height:               true;
    fixed-columns:              true;
    cursor:                     "default";
    background-color:           transparent;
    spacing:                    0.25em;
}

element {
    enabled:                    true;
    cursor:                     pointer;
    background-color:           transparent;
    text-color:                 @text;
    border-radius:              0.75em;
    padding:                    0.6em 1em;
    margin:                     0.1em 0;
}

element-icon {
    enabled:                    false;
    size:                       1.3em;
    cursor:                     inherit;
    background-color:           transparent;
    text-color:                 @text;
}

element-text {
    vertical-align:             0.5;
    horizontal-align:           0.0;
    padding:                    0.1em 0.25em;
    cursor:                     inherit;
    background-color:           transparent;
    text-color:                 inherit;
}

error-message {
    background-color:           transparent;
    text-transform:             capitalize;
    children:                   [ "textbox" ];
}

textbox {
    text-color:                 @text;
    background-color:           inherit;
    vertical-align:             0.5;
    horizontal-align:           0.5;
}
