/* ===========================
   1) config.rasi (updated)
   =========================== */

@import "common.rasi"

configuration {
    show-icons: true;
    me-accept-entry: "MousePrimary";
    window-format: "{w} · {c} · {t}";
}

window {
    height: 30em;
    width: 46em;
    border: 0.1em;
    border-radius: 1em;
    width: 55%;
}

mainbox {
    enabled:          true;
    spacing:          0em;
    padding:          0em;
    orientation:      horizontal;
    children:         [ "imagebox", "listbox" ];
    background-color: white / 14%;
}

imagebox {
    padding:          0.5em;
    background-color: white / 5%;
    border-radius:    1em;
    orientation:      vertical;
    children:         [ "inputbar", "dummy", "mode-switcher" ];
}

dummy { background-color: transparent; }

mode-switcher {
    orientation:      horizontal;
    width:            6.6em;
    enabled:          true;
    padding:          1.5em;
    spacing:          1.5em;
    background-color: transparent;
}

button {
    padding:          1em;
    border-radius:    1em;
    border:           0;
    cursor:           pointer;
    background-color: black / 10%;
    text-color:       @text;
}

button selected {
    padding:          1em;
    border-radius:    1em;
    background-color: @shade-bg;
    text-color:       @text;
}

inputbar {
    margin: 1em;
    children: [ "textbox-prompt-colon", "entry" ];
}

listbox {
    padding:          0em;
    spacing:          0em;
    orientation:      horizontal;
    children:         [ "listview" ];
    background-color: transparent;
}

