@import "common.rasi"

configuration {
    show-icons: true;
    me-accept-entry: "MousePrimary";
    window-format: "{w} · {c} · {t}";
}

mainbox {
    enabled: true;
    spacing: 0em;
    padding: 0em;
    orientation: horizontal;
    children: [ "imagebox" ];
    background-color: transparent;
}

imagebox {
    padding: 0em;
    background-color: transparent;
    orientation: vertical;
    children: [ "inputbar", "listview", "mode-switcher" ];
}

listview {
    expand: true;
}

inputbar {
    children: [ "textbox-prompt-colon", "entry" ];
}

mode-switcher {
    orientation: horizontal;
    enabled: true;
    expand: false;
    padding: 0.75em 0.5em 0.25em 0.5em;
    spacing: 0.5em;
    background-color: transparent;
    border-radius: 0.8em;
}

button {
    padding: 0.55em 1.1em;
    border: 0;
    cursor: pointer;
    background-color: @pill;
    text-color: @text;
    border-radius: 0.65em;
}

button selected {
    padding: 0.55em 1.1em;
    background-color: @accent;
    text-color: @text-selected;
    border-radius: 0.65em;
}
