@import "common.rasi"

window {
   background-color:           transparent;
}

inputbar {
    enabled:                    true;
    background-color:           @pill;
    text-color:                 @text;
    children:                   [ "textbox-prompt-colon", "entry" ];
    border-radius:              1.2em;
    padding:                    0.35em 0.7em;
}

entry {
    enabled:                    true;
    padding:                    0.7em 0 0.7em 0;
    cursor:                     text;
    placeholder:                "Password";
    background-color:           transparent;
    placeholder-color:          var(placeholder-color);
    text-color:                 @text;
}

