/* ===========================
   4) todo_task.rasi (updated)
   (Input-only popup)
   =========================== */

@import "common.rasi"

window {
    height:                     30em;
    width:                      36em;
    fullscreen:                 false;
    enabled:                    true;
    cursor:                     "default";
    spacing:                    0em;
    padding:                    0em;
    location:                   center;
    anchor:                     center;
    border:                     0em;
    border-radius:              0em;
    background-color:           transparent;
}

mainbox {
    enabled:          true;
    spacing:          0em;
    padding:          0em;
    orientation:      vertical;
    children:         [ "imagebox" ];
    background-color: transparent;
    border:           0em;
}

imagebox {
    background-color: transparent;
    orientation:      vertical;
    children:         [ "inputbar" ];
}

inputbar {
    enabled:                    true;
    background-color:           white / 14%;
    text-color:                 @text;
    children:                   [ "textbox-prompt-colon", "entry" ];
    border-radius:              0.5em;
    color:                      white;
    border:                     0.05em;
    border-radius:              0.5em;
    padding:                    0em 0.5em;
}

textbox-prompt-colon {
    enabled:                    true;
    expand:                     false;
    str:                        "➤ ";
    padding:                    1em 0 0.5em 0;
    text-color:                 @text;
    background-color:           transparent;
    font:                       "Monolisa Bold 12";
}

entry {
    enabled:                    true;
    padding:                    1em 0 0.5em 0;
    cursor:                     text;
    placeholder:                "";
    background-color:           transparent;
    placeholder-color:          inherit;
    text-color:                 @text;
}

