:root {
    --mocha-crust:   #11111B;
}

#TabsToolbar,
#nav-bar,
#PersonalToolbar,
#titlebar {
	visibility: collapse !important;
}

#browser {
	background-color: var(--mocha-crust) !important; /* dark gray w/ 0.2 opacity */
}

#main-window,
#tabbrowser-tabpanels {
	background: var(--mocha-crust) !important;
}

