
:root {
    --uc-urlbar-min-width: 20vw;
	--uc-urlbar-max-width: 20vw;

    --uc-toolbar-position: 0;
	--uc-urlbar-position: 1;
    --uc-urlbar-top-spacing: 1px;

    --uc-base-colour: transparent;
    --uc-highlight-colour: rgba(0, 0, 0, .55);
    --uc-inverted-colour: rgba(255, 255, 255, .9);
    --uc-muted-colour: rgba(255, 255, 255, .28);
    --uc-accent-colour: rgba(255, 255, 255, .28);

    --uc-border-radius: 1em;
    --uc-page-action-margin: 7px;

    --uc-active-tab-width: 250px;
    --uc-inactive-tab-width: 250px;
    --show-tab-close-button: none;

    --toolbarbutton-border-radius: var(--uc-border-radius) !important;
    --tab-border-radius: var(--uc-border-radius) !important;
    --arrowpanel-border-radius: var(--uc-border-radius) !important;

    --container-tabs-indicator-margin: 10px;
    --uc-identity-glow: 0 1px 10px 1px;
}

:root {
    --lwt-frame: var(--uc-base-colour) !important;
    --lwt-accent-color: var(--lwt-frame) !important;
    --lwt-text-color: var(--uc-inverted-colour) !important;
    
    --toolbar-field-color: var(--uc-inverted-colour) !important;

    --toolbar-field-focus-color: var(--uc-inverted-colour) !important;
    --toolbar-field-focus-background-color: var(--uc-highlight-colour) !important;
    --toolbar-field-focus-border-color: transparent !important;

    --toolbar-field-background-color: var(--lwt-frame) !important;
    --lwt-toolbar-field-highlight: var(--uc-inverted-colour) !important;
    --lwt-toolbar-field-highlight-text: var(--uc-highlight-colour) !important;
    --urlbar-popup-url-color: var(--uc-accent-colour) !important;

    --lwt-tab-text: var(--lwt-text-colour) !important;
    --lwt-selected-tab-background-color: var(--uc-highlight-colour) !important;

    --toolbar-bgcolor: var(--lwt-frame) !important;
    --toolbar-color: var(--lwt-text-color) !important;
    --toolbarseparator-color: var(--uc-accent-colour) !important;
    --toolbarbutton-hover-background: var(--uc-highlight-colour) !important;
    --toolbarbutton-active-background: var(
        --toolbarbutton-hover-background
    ) !important;

    --lwt-sidebar-background-color: var(--lwt-frame) !important;
    --sidebar-background-color: var(--lwt-sidebar-background-color) !important;

    --urlbar-box-bgcolor: var(--uc-highlight-colour) !important;
    --urlbar-box-text-color: var(--uc-muted-colour) !important;
    --urlbar-box-hover-bgcolor: var(--uc-highlight-colour) !important;
    --urlbar-box-hover-text-color: var(--uc-inverted-colour) !important;
    --urlbar-box-focus-bgcolor: var(--uc-highlight-colour) !important;
}
