/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
}

/* hides the list-all-tabs button */
#alltabs-button {
    display: var(--uc-show-all-tabs-button) !important;
}

.tabbrowser-tab * {
    border-radius: var(--uc-tab-border-radius) !important;
    height: var(--bf-tab-height) !important;
    overflow: hidden;
    margin-top: 2 !important;
    margin-bottom: 0 !important;
}

/* remove tab shadow */
.tabbrowser-tab > .tab-stack > .tab-background {
    box-shadow: none !important;
}

/* multi tab selection */
.tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: var(--show-tab-close-button-hover) !important;
}

/* adaptive tab width */
.tabbrowser-tab[selected][fadein]:not([pinned]):not(tab-group[collapsed] .tabbrowser-tab) {
    max-width: var(--uc-active-tab-width) !important;
}

.tabbrowser-tab[fadein]:not([selected]):not([pinned]):not(tab-group[collapsed] .tabbrowser-tab) {
    max-width: var(--uc-inactive-tab-width) !important;
}

/* container tabs indicator */
#TabsToolbar {
    margin-left: calc(1325px / 100 * (var(--NavbarWidth))) !important;
}

#TabsToolbar .tab-context-line {
    margin: 2px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
    height: 1px !important;
}

.tab-context-line {
    box-shadow: var(--uc-identity-glow) var(--identity-tab-color) !important;
}

/* show favicon when media is playing but tab is hovered */
.tab-icon-image:not([pinned]) {
    opacity: 1 !important;
}

/* makes the speaker icon to always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {
    top: 5px !important;
    z-index: 1 !important;
    padding: 1.5px !important;
    inset-inline-end: -8px !important;
    width: 16px !important;
    height: 16px !important;

    border-radius: 0.5em !important;
}

/* style and position speaker icon */
.tab-icon-overlay:not([sharing], [crashed]):is(
    [soundplaying],
    [muted],
    [activemedia-blocked]) {
    opacity: 1 !important;
    fill-opacity: 0.8 !important;
    color: currentColor !important;
    stroke: var(--toolbar-color) !important;
    background-color: var(--toolbar-bgcolor) !important;
}

/* change the colours of the speaker icon on active tab to match tab colours */
.tabbrowser-tab[selected]
    .tab-icon-overlay:not([sharing], [crashed]):is(
        [soundplaying],
        [muted],
        [activemedia-blocked]
    ) {
    stroke: var(--mocha-crust) !important;
    background-color: var(--mocha-lav) !important;
}

.tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
    [soundplaying],
    [muted],
    [activemedia-blocked]
) {
    margin-inline-end: 9.5px !important;
}

.tabbrowser-tab:not([image])
    .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
    top: 0 !important;

    padding: 0 !important;
    margin-inline-end: 5.5px !important;
    inset-inline-end: 0 !important;
}

.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: currentColor !important;
    stroke: var(--mocha-crust) !important;
    background-color: var(--mocha-blue) !important;
    fill-opacity: 0.95 !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected]
    .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: currentColor !important;
    stroke: var(--mocha-crust) !important;
    background-color: var(--mocha-blue) !important;
    fill-opacity: 0.95 !important;
}

/* speaker icon colour fix */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
    color: var(--toolbar-color) !important;
}

/* speaker icon colour fix on hover */
#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
    color: var(--mocha-crust) !important;
}

/* selected tab colour fix */
.tabbrowser-tab[selected] .tab-background {
    background: var(--uc-tab-base-colour) !important;
    outline: none !important;
}

/* selected tab text */
.tabbrowser-tab[selected] .tab-label,
.tabbrowser-tab[selected] .tab-icon-image,
.tabbrowser-tab[selected] .tab-close-button {
    color: var(--mocha-crust) !important;
    fill: var(--mocha-text) !important;
    display: var(--show-tab-close-button-hover) !important;
}

.tabbrowser-tab[selected]:hover .tab-close-button {
    color: var(--mocha-text) !important;
    fill: var(--mocha-text) !important;
    background-color: rgba(0, 0, 0, 0.1); /* Subtle dark overlay */
    display: var(--show-tab-close-button-hover) !important;
}

.tabbrowser-tab[selected] .tab-close-button:hover {
    color: var(--mocha-text) !important;
    fill: var(--mocha-text) !important;
    background: var(--mocha-red) !important;
}

/* hover on inactive tabs */
.tabbrowser-tab:not([selected]):hover .tab-background {
    background: var(--uc-hover-colour) !important;
}

/* Inactive tab color */
.tabbrowser-tab:not([selected]) .tab-background {
    background: var(--uc-inactive-tab-colour) !important;
}

/* inactive tab text */
.tabbrowser-tab:not([selected]) .tab-label,
.tabbrowser-tab:not([selected]) .tab-icon-image {
    color: var(--mocha-text) !important;
    fill: var(--mocha-text) !important;
}

/* tab group labels */
.tab-group-label-container > .tab-group-label {
    outline: none !important;
    border-radius: var(--uc-border-radius) !important;
    width: 100%;
    color: light-dark(var(--tab-group-color-pale), var(--tab-group-label-text-dark)) !important;
    background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
}

#vertical-tabs-newtab-button {
    display: none !important;
}

.tab-secondary-label {
    display: none !important;
}

#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
    fill: var(--mocha-text) !important;
}
