#navigator-toolbox,
#TabsToolbar,
#Tabs,
#nav-bar,
#PersonalToolbar,
#titlebar,
#toolbar-menubar,
#sidebar-box,
#browser,
.sidebar-placesTree {
	background-color: var(--uc-base-colour) !important; /* dark gray with 0.2 opacity */
	-moz-appearance: none !important;
	border: none !important;
	box-shadow: none !important;
}

#main-window, #tabbrowser-tabpanels { 
    background: var(--uc-base-colour) !important; 
}

/* Bookmarks bar  */
.bookmark-item .toolbarbutton-icon {
	display: none;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
	min-width: 1.6em;
}

#back-button {
    list-style-image: url("./icons/BackButton.svg") !important;
}

/* Toolbar  */
#tracking-protection-icon-container,
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#PanelUI-button,
#forward-button,
#context-navigation,
#context-savepage,
#context-pocket,
#context-sendpagetodevice,
#context-selectall,
#context-viewsource,
#context-inspect-a11y,
#context-sendlinktodevice,
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelink,
#context-savelinktopocket,
#context-sendlinktodevice,
#context-searchselect,
#context-sendimage,
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_reopenInContainer,
#context_selectAllTabs,
#context_closeTabOptions,
#context-print-selection {
	display: none !important;
}

#PersonalToolbar {
    padding: 6px !important;
    box-shadow: inset 0 0 50vh rgba(0, 0, 0, var(--uc-darken-toolbar)) !important;
    order: 4;
    width: 100%;
}

#statuspanel #statuspanel-label {
    border: none !important;
    border-radius: var(--uc-border-radius) !important;
}
