@-moz-document url("about:home"), url("about:newtab") {
	* {
		background-color: var(--uc-base-colour) !important;
	}

	html:root {
		background-color: var(--uc-base-colour) !important;
	}
}

@-moz-document url("about:home"), url("about:newtab") {
	.search-suggestions,
	.search-handoff-button,
	.search-inner-wrapper > .search-suggestion {
		display: none !important;
	}
}

/* Popovers / Menus */
	[role="menu"],
	[data-radix-popper-content-wrapper] > div,
	[class*="popover"],
	[class*="dropdown"] {
		background: rgba(0, 0, 0, .85) !important;
		border-radius: 0.5em !important;
}


