@-moz-document url("about:home"), url("about:newtab") {
	* {
		background-color: var(--uc-base-colour) !important;
		color: var(--latte-text) !important;
	}

	html:root {
		background-color: var(--uc-base-colour) !important;
	}
}

@-moz-document url("about:home"), url("about:newtab") {
	.search-suggestions,
	.search-handoff-button,
	.search-inner-wrapper > .search-suggestion {
		display: none !important;
	}
}

/* Popovers / Menus */
[role="menu"],
[data-radix-popper-content-wrapper] > div,
[class*="popover"],
[class*="dropdown"] {
	background: var(--uc-tab-base-colour) !important;
	color: var(--latte-text) !important;
	border: 1px solid var(--accent-soft) !important;
	border-radius: var(--uc-border-radius) !important;
}
