[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT
Exec=/home/barvind/.local/bin/chatgpt.sh
Icon=/home/barvind/.local/share/icons/chatgpt.svg
Terminal=false
Categories=Utility;Development;

