[Desktop Entry]
Type=Application
Name=Date Picker
Comment=Pick a date using rofi daypicker
Exec=bash -lc "$HOME/.local/bin/datepicker.sh"
Icon=/home/barvind/.local/share/icons/calendar.svg
Terminal=false
Categories=Utility;
StartupNotify=false

