[Desktop Entry]
Icon=jetbrains-toolbox
Exec=/home/barvind/Downloads/jetbrains-toolbox-3.5.0.84344/bin/jetbrains-toolbox %u
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=
X-GNOME-Autostart-enabled=true
X-Icon-Path=/home/barvind/.local/share/icons/hicolor/scalable/apps/jetbrains-toolbox.svg
X-Installed-Icon-Cache-Path=/home/barvind/.local/share/icons/hicolor
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
