[Desktop Entry]
Version=1.0
Type=Application
Name=Power
Comment=Power
Exec=/home/barvind/.local/bin/power-options.sh
Icon=/home/barvind/.local/share/icons/power-options.svg
Terminal=false
Categories=Utility;Development;

