:root {
    /* Transparent UI theme */
    --uc-base-colour: rgba(0, 0, 0, 0.2);
    --uc-highlight-colour: rgba(0, 0, 0, 0.5);
    --uc-inverted-colour: rgba(255, 255, 255, 0.95);
    --uc-muted-colour: rgba(255, 255, 255, 0.7);
    --uc-accent-colour: rgba(147, 112, 219, 0.45); 

    /* Transparent color variables */
    --lwt-frame: var(--uc-base-colour) !important;
    --lwt-accent-color: var(--lwt-frame) !important;
    --lwt-text-color: var(--uc-inverted-colour) !important;
    --toolbar-field-color: var(--uc-inverted-colour) !important;
    --toolbar-field-focus-color: var(--uc-inverted-colour) !important;
    --toolbar-field-focus-background-color: var(--uc-highlight-colour) !important;
    --toolbar-field-focus-border-color: transparent !important;
    --toolbar-field-background-color: var(--lwt-frame) !important;
    --lwt-toolbar-field-highlight: var(--uc-inverted-colour) !important;
    --lwt-toolbar-field-highlight-text: var(--uc-highlight-colour) !important;
    --urlbar-popup-url-color: var(--uc-accent-colour) !important;
    --lwt-tab-text: var(--lwt-text-color) !important;
    --lwt-selected-tab-background-color: var(--uc-highlight-colour) !important;
    --toolbar-bgcolor: var(--lwt-frame) !important;
    --toolbar-color: var(--lwt-text-color) !important;
    --toolbarseparator-color: var(--uc-accent-colour) !important;
    --toolbarbutton-hover-background: var(--uc-highlight-colour) !important;
    --toolbarbutton-active-background: var(--toolbarbutton-hover-background) !important;
    --lwt-sidebar-background-color: var(--lwt-frame) !important;
    --sidebar-background-color: var(--lwt-sidebar-background-color) !important;
    --urlbar-box-bgcolor: var(--uc-highlight-colour) !important;
    --urlbar-box-text-color: var(--uc-muted-colour) !important;
    --urlbar-box-hover-bgcolor: var(--uc-highlight-colour) !important;
    --urlbar-box-hover-text-color: var(--uc-inverted-colour) !important;
    --urlbar-box-focus-bgcolor: var(--uc-highlight-colour) !important;

    /* Adding transparent fallback colors where no color was assigned */
    --lwt-tooltip-background-color: transparent !important;
    --lwt-tooltip-text-color: transparent !important;
    --sidebar-footer-background-color: transparent !important;
    --urlbar-button-color: transparent !important;
    --toolbar-button-text-color: transparent !important;
    --tab-text-color: transparent !important;
    --tab-selected-color: transparent !important;
    --tab-hover-color: transparent !important;
    --tab-focus-color: transparent !important;
    --menu-background-color: transparent !important;
    --menu-item-background-color: transparent !important;
    --menu-item-text-color: transparent !important;
    --popup-background-color: transparent !important;
    --popup-item-background-color: transparent !important;
    --popup-item-text-color: transparent !important;
}

